html {
    background-color: #1b1b1b; /* Define a cor de fundo para toda a página */
}
body{
    font-family:arial;
    color: #fff;
}

.leftbar{
    right: 60px;
    position:fixed;
    width: 178px;
    top: 192px;
    background-color: #1b1b1b;
}

.central { 
    width: 50%;
    height: 100%;
    margin: 0 auto;
    padding-top: 60px;
    text-align: justify;
}
.central table { 
    position: center;
    margin: auto;
}


footer {
    background-color: #041529;
    padding: 20px 0;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

img {
    display: block; /* Ensures the image behaves as a block element */
    margin: auto; /* Centers the image horizontally */
}
figcaption {
    text-align: center;
}


.link {
    color: #55a3a3;
    text-decoration: none; /* Remove o sublinhado padrão */
    transition: color 0.3s; /* Adiciona uma transição suave para a mudança de cor */
}

.link:hover {
    color: #fff; /* Define a nova cor do link quando o mouse passa sobre ele */
}


.container>div {
    flex: 1;
    margin: 0 0px;
}

.links ul {
    list-style-type: none;
    padding: 0;
}

.links ul li {
    margin-bottom: 10px;
}

.links a {
    color: #fff;
    text-decoration: none;
}

.contato p {
    margin: 5px 0;
    text-align: center;
}

.social ul {
    list-style-type: none;
    padding: 0;
}

.social ul li {
    display: inline-block;
    margin-right: 10px;
}

.social a {
    color: #fff;
    text-decoration: none;
}

.legal {
    margin-top: 20px;
}

.legal p {
    color: #fff;
    text-align: center;
}

.legal a {
    color: #fff;
    text-decoration: none;
}