html {
    background-color: #1b1b1b; /* Define a cor de fundo para toda a página */
}
body{
    color: #fff;
}

p {
    text-align: justify;
    margin-top: 10px; /* Adiciona uma margem de 10 pixels na parte superior */
    margin-bottom: 10px; /* Adiciona uma margem de 10 pixels na parte inferior */
    margin-left: 0; /* Adiciona uma margem de 0 pixels à esquerda */
    margin-right: 0; /* Adiciona uma margem de 0 pixels à direita */
}

.central { 
    width: 50%; /* Set a fixed width for the body element */ 
    height: 100%;
    margin: 0 auto; /* Center the body element within its parent */ 
  } 

footer {
    background-color: #041529;
    padding: 20px 0;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

img {
    display: block; /* Ensures the image behaves as a block element */
    margin: auto; /* Centers the image horizontally */
}
figcaption {
    text-align: center;
}


.container>div {
    flex: 1;
    margin: 0 0px;
}

.links ul {
    list-style-type: none;
    padding: 0;
}

.links ul li {
    margin-bottom: 10px;
}

.links a {
    color: #fff;
    text-decoration: none;
}

.contato p {
    margin: 5px 0;
    text-align: center;
}

.social ul {
    list-style-type: none;
    padding: 0;
}

.social ul li {
    display: inline-block;
    margin-right: 10px;
}

.social a {
    color: #fff;
    text-decoration: none;
}

.legal {
    margin-top: 20px;
}

.legal p {
    color: #fff;
    text-align: center;
}

.legal a {
    color: #fff;
    text-decoration: none;
}