/* Geral */
html {
    background-color: #1b1b1b; /* Define a cor de fundo para toda a página */
}
.main-wrapper{
    color: white;
}

.main{
    width: 50%;
    margin: 0 auto;
}

table { 
    position: center;
    margin: 0 auto;
}

img {
    display: block; /* Ensures the image behaves as a block element */
    margin: auto; /* Centers the image horizontally */
}
figcaption {
    text-align: center;
}


/* Footer */

footer {
    background-color: #041529;
    padding: 20px 0;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.link {
    color: #55a3a3;
    text-decoration: none; /* Remove o sublinhado padrão */
    transition: color 0.3s; /* Adiciona uma transição suave para a mudança de cor */
}

.link:hover {
    color: #1b1b1b; /* Define a nova cor do link quando o mouse passa sobre ele */
}

.linkh {
    color: #55a3a3;
    text-decoration: none; /* Remove o sublinhado padrão */
    transition: color 0.3s; /* Adiciona uma transição suave para a mudança de cor */
}

.linkh:hover {
    color: #1b1b1b; /* Define a nova cor do link quando o mouse passa sobre ele */
}


.container>div {
    flex: 1;
    margin: 0 0px;
}

.links ul {
    list-style-type: none;
    padding: 0;
}

.links ul li {
    margin-bottom: 10px;
}

.links a {
    color: #fff;
    text-decoration: none;
}

.contato p {
    margin: 5px 0;
    text-align: center;
}

.social ul {
    list-style-type: none;
    padding: 0;
}

.social ul li {
    display: inline-block;
    margin-right: 10px;
}

.social a {
    color: #fff;
    text-decoration: none;
}

.legal {
    margin-top: 20px;
}

.legal p {
    color: #fff;
    text-align: center;
}

.legal a {
    color: #fff;
    text-decoration: none;
}

/* Barra de navegação */

.leftbar{
    position: sticky;
    right: 180px;
    position: fixed;
    width: 178px;
    top: 192px;
    background-color: #1b1b1b;
}

nav{
    float: none; 
    clear: both;
    width: 80%; 
    margin: 10% auto;
    background: #1b1b1b;
  }
  
  nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  
  nav li{
    float: none; 
    width: 100%;
  }
  
  nav li a{
    display: block; 
    width: 100%; 
    padding: 20px; 
    border-left: 5px solid; 
    position: relative; 
    z-index: 2;
    text-decoration: none;
    color: #444;
    box-sizing: border-box;  
    -moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box; 
  }
    
  nav li a:hover{ border-bottom: 0px; color: #fff;}
  nav li:first-child a{ border-left: 10px solid #3498db; }
  nav li:nth-child(2) a{ border-left: 10px solid #ffd071; }
  nav li:nth-child(3) a{ border-left: 10px solid #f0776c; }
  nav li:nth-child(4) a{ border-left: 10px solid #6cf094; }
  nav li:last-child a{ border-left: 10px solid #1abc9c; }
  
  nav li a:after { 
    content: "";
    height: 100%; 
    left: 0; 
    top: 0; 
    width: 0px;  
    position: absolute; 
    transition: all 0.3s ease 0s; 
    -webkit-transition: all 0.3s ease 0s; 
    z-index: -1;
  }
  
  nav li a:hover:after{ width: 100%; }
  nav li:first-child a:after{ background: #3498db; }
  nav li:nth-child(2) a:after{ background: #ffd071; }
  nav li:nth-child(3) a:after{ background: #f0776c; }
  nav li:nth-child(4) a:after{ background: #6cf094; }
  nav li:last-child a:after{ background: #1abc9c; }
  
  
  
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    src: local('Lato Hairline'), local('Lato-Hairline'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/boeCNmOCCh-EWFLSfVffDg.woff) format('woff');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
  }
  